:root {
    --van-padding-home: 10px;
    --van-dropdown-menu-height: 28px !important;
}
.bg-color {
    background: linear-gradient(200deg, #c3bdf7, #f4f2f9 300px);
    background-attachment: fixed;
}
